*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
}
nav{
    width: 100%;
    height: 133px;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.16);
}

img.logo{
    width: 27.48%;
    height: 37.53px;
    margin: 3.5% 4.5%;
}

nav ul{
    float: right;
    list-style-type: none;
    margin-right: 61px;
}

nav ul li{
    display: inline-block;
    line-height: 130px;
}

nav ul li a{
    text-decoration: none;
    color: #000000;
    font-family: 'New York Small';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 170%;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    padding: 8px 20px;
}

#checkbtn {
    float: right;
    line-height: 135px;
    margin-right: 20px;
    font-size: 25px;
    display: none;
}

#check{
    display: none;
}

#check:checked ~ ul{
    left: 0;
}

.b{
    position: absolute;
    width: 4.58%;
    height: 0px;
    left: 63.19%;
    top: 130px;
    
    border: 2px solid #000000;
    background: black;    
}
.c1{
    position: absolute;
    width: 59.58%;
    height: 162px;
    left: 20.2%;
    top: 186px;
    
    font-family: 'New York Extra Large';
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 100%;
    /* or 54px */
    
    text-align: center;
    
    color: #000000;
}
.c2{
    position: absolute;
    width: 43.47%;
    height: 68px;
    left: 28.26%;
    top: 380px;
    
    font-family: 'SF Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 170%;
    /* or 34px */
    
    text-align: center;
    
    color: #000000;
}
.img2a{
    position: absolute;
    width: 100%;
    height: 900px;
    left: 0%;
    top: 500px;
}
.b1{
    position: absolute;
    width: 44.44%;
    height: 2px;
    left: 27.78%;
    top: 1432px;
    background: black;
    border: 2px solid #000000;
}
.img3a{
    position: absolute;
    width: 57px;
    height: 57px;
    left: 27.78%;
    top: 1456px;
    border-radius: 50%;
}
.c3{
    position: absolute;
    width: 23.15%;
    height: 19px;
    left: 32.78%;
    top: 1461px;
    
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    letter-spacing: 0.05em;
    text-transform: uppercase;
}
.c4{
    position: absolute;
    width: 23.26%;
    height: 19px;
    left: 32.78%;
    top: 1488px;
    
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}
.kitu{

    box-sizing: border-box;

    position: absolute;
    width: 9.72%;
    height: 44px;
    right: 27.9%;
    top: 1462px;

    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.08);
    border-radius: 4px;

}
.fb1{
    position: absolute;
    left: 26.39%;
    top: 12px;
}
.ke{
    position: absolute;
    width: 3%;
    height: 0px;
    left: 3.47%;
    top: 20px;
    
    border: 1px solid #EAEAEA;
    transform: rotate(-90deg);
}
.tw1{
    position: absolute;
    left: 64.94%;
    top: 12px;
}
.c5{
    position: absolute;
    width: 44.44%;
    height: 238px;
    left: 27.78%;
    top: 1565px;
    
    font-family: 'New York Medium';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 170%;
}
.c6{
    position: absolute;
    width: 43%;
    height: 51px;
    left: 27.78%;
    top: 1850px;
    
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 160%;
}
.c7{
    position: absolute;
    width: 44.44%;
    height: 228px;
    left: 27.78%;
    top: 1920px;
    
    font-family: 'New York Medium';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 170%;
}