*{ 
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    box-sizing: border-box;
   }
#header{
    border-bottom:1px solid #808080;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    padding-left:64px;
    padding-right: 61px;

}
.menu-blog{
    position: relative;
    font-size: 20px;
    line-height: 34px;
}

.menu-blog span {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border-top: 2px solid #000;
    transform: translateY(50px);
}
.menu-about{
    size: 20px;
    line-height: 34px;
}
.menu-link{
    size: 20px;
    line-height: 34px;
}
.menu-project{
    size: 20px;
    line-height: 34px;
}
.menu-blog + .menu-about{
    margin-left: 31px;
}
.menu-about + .menu-link{
    margin-left: 34px;
}
.menu-link + .menu-project{
    margin-left: 36px;
}

.menu-icon {
    display: none;
}

#logo{  
    margin-top: 53px;
    margin-bottom: 38px;
}

#Chu{
    margin-top: 44px;
    font-size: 54px;
    line-height: 54px;
}
#menu_right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}
#text1{
    Font-size: 54px;
    text-align: Center;
    margin-left: 291px;
    margin-right: 291px;
    margin-top: 53px;
}
#text2{
    font-family: monospace;
    font-size: 20px;
    text-align: center;
    margin-top: 32px;
    margin-right: 407px;
    margin-left: 407px;
    margin-bottom: 52px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    width: 100%;
    height: 100%;
}
/* --------------------- */
/* ----------------------- */



/* ------------------------- */
nav{
    width: 100%;
    height: 133px;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.16);
}

img.logo{
    width: 27.48%;
    height: 37.53px;
    margin: 3.5% 4.25%;
}

nav ul{
    float: right;
    list-style-type: none;
    margin-right: 61px;
}

nav ul li{
    display: inline-block;
    line-height: 135px;
}

nav ul li a{
    text-decoration: none;
    color: #000000;
    font-family: 'New York Small';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 170%;
    letter-spacing: 0.12em;
    text-transform: uppercase ;
    padding: 8px 20px;
}

#checkbtn{
    float: right;
    line-height: 135px;
    margin-right: 20px;
    font-size: 25px;
    display: none;
}

#check{
    display: none;
}

#check:checked ~ ul{
    left: 0;
}

.under{
    position: absolute;
    top: 82px;
    left: 65.2%;
    width: 4%;
    transform: translateY(50px);
    border-top: 2px solid rgb(0, 0, 0);
}
/* ---------------------- */
/* ----------------- */
.image2 {
    width: 56.4%;
    margin: 5.06% 21.347%;
}

.title1 {
    width: 59.58%;
    height: 162px;
    margin-top: -2%;
    margin-left: 19%;
    font-family: 'New York Extra Large', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 43px;
    text-align: center;
    color: #000000;
}

.text {
    width: 38.94%;
    height: 4.47%;
    margin-left: 29.8%;
    margin-top: 2%;

    font-family: 'SF Mono',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 170%;

    text-align: center;

    color: #000000;
}